<div class="container-fluid animated fadeIn">
    <app-breadcrumb [title]="'Eventos'" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
        
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title animated fadeInDown">{{ breadcrumbs[(breadcrumbs.length-1)].title }}</h4>
                    <!-- <h6 class="card-subtitle">Just add <code>form-material</code> class to the form that's it.</h6> -->
                    <form class="form-material m-t-40" (ngSubmit)="save(demo)" #demo="ngForm">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Categoría *</label>
                                    <select class="form-control" [(ngModel)]="form.category" name="category">
                                        <option value=''>--Seleccione una opción--</option>
                                        <option value="{{ item.id }}" *ngFor="let item of categories; let i=index;" >{{ item.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Evento de Swoogo</label>
                                    <select class="form-control" [(ngModel)]="form.inSwoogo" name="inSwoogo">
                                        <option value="1">SI</option>
                                        <option value="0">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Evento Swoogo*</label>
                                    <select class="form-control"  name="event" [(ngModel)]="form.eventSwoogo" *ngIf="form.inSwoogo == 1" (change)="onSelectEvent()">
                                        <option value=''>--Seleccione una opción--</option>
                                        <option value="{{ item.id }}" *ngFor="let item of eventsSwoogo; let i=index;" >{{ item.name }}</option>
                                    </select>
                                    <select class="form-control"  name="event" *ngIf="form.inSwoogo == 0" disabled>
                                        <option value=''></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" [(ngModel)]="form.name" name="name" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Fecha inicio</label>
                                    <mat-form-field>
                                        <input name="date_start" readonly (click)="pickerStart.open()" matInput class="form-control" [matDatepicker]="pickerStart" 
                                        placeholder="Seleccione" [(ngModel)]="datePickerStart">
                                        <mat-datepicker #pickerStart></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Hora inicio</label>
                                    <input type="text" class="form-control" [(ngModel)]="form.start_time" name="start_time" placeholder="HH:MM" maxlength="5">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Fecha inicio</label>
                                    <mat-form-field>
                                        <input name="date_end" readonly (click)="pickerEnd.open()" matInput class="form-control" [matDatepicker]="pickerEnd" 
                                        placeholder="Seleccione" [(ngModel)]="datePickerEnd">
                                        <mat-datepicker #pickerEnd></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Hora fin</label>
                                    <input type="text" class="form-control" [(ngModel)]="form.end_time" name="end_time" placeholder="HH:MM" maxlength="5">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label>Link externo</label>
                                    <input type="text" class="form-control" [(ngModel)]="form.url" name="url" placeholder="" >
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Activo</label>
                                    <select class="form-control" [(ngModel)]="form.isActive" name="isActive">
                                        <option value="1">SI</option>
                                        <option value="0">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Home</label>
                                    <select class="form-control" [(ngModel)]="form.inHome" name="inHome">
                                        <option value="1">SI</option>
                                        <option value="0">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Imagen de portada</label>
                                    <input type="text" class="form-control" [(ngModel)]="form.pictureBackground" name="pictureBackground" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Imagen de card</label>
                                    <input type="text" class="form-control" [(ngModel)]="form.pictureCard" name="pictureCard" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Descripción</label>
                                    <textarea class="form-control" [(ngModel)]="form.description" name="description" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="animated fadeInUp">
                            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Guardar</button>
                            <a role="button" routerLink="/admin/events" type="button" class="btn btn-inverse waves-effect waves-light"><i class="fa fa-remove"></i> Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>