<div class="container-fluid animated fadeIn" *ngIf="data">
    <app-breadcrumb [title]="'Integraciones'" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">
                Integración: <b>Nº</b> {{ data.id }}

            </h3>
            <hr>
            <div class="row">
                <div class="col-md-5">
                    <div class="card bg-light">
                        <h4 class="card-header bg-info text-white"><b>Datos de la integración</b></h4>
                        <div class="card-body">
                            <p><b>Nº:</b> {{ data.id }}</p>
                            <p><b>Tipo:</b> {{ data.type | translate }}</p>
                            <p><b>Evento:</b> {{ data.event.name }}</p>
                            <p><b>Descripción:</b> {{ data.description }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card bg-light">
                        <h4 class="card-header bg-success text-white"><b>Configuración</b></h4>
                        <div class="card-body">
                            <ng-container *ngIf="data.type == 'MERCADOPAGO'">
                                <p><b>Access Token:</b> {{ data.access_token }}</p>
                            </ng-container>
                            <ng-container *ngIf="data.type == 'CHECKIN'">
                                <p><b>Checkin por nombre: </b> <span [innerHTML]="data.extraOption | badgeBinary"></span></p>
                            </ng-container>
                            <ng-container *ngIf="data.type == 'MERCADOPAGO'">
                                <p><b>Access Token:</b> {{ data.access_token }}</p>
                            </ng-container>
                            <p><b>Activo: </b> <span [innerHTML]="data.isActive | badgeBinary"></span></p>
                            <p><b>Creada: </b> {{ data.created_at | date: 'dd/MM/yyyy HH:mm' }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="data.type == 'MERCADOPAGO'">
                <div class="card bg-light">
                    <h4 class="card-header bg-warning text-white">
                        <b>SDK</b>
                        <app-btn-copy [text]="sdkString"></app-btn-copy>
                    </h4>
                    <div class="card-body">
                        <p>{{ sdkString }}</p>
                    </div>
                </div>
                <div class="card bg-light">
                    <h4 class="card-header bg-primary text-white"><b>Transacciones</b></h4>
                    <div class="card-body">
                        <table class="table table-hover table-bordered ">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Estado</th>
                                    <th>Monto</th>
                                    <th>Registrantes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of data.transactions; let i=index;">
                                    <td>{{ item.created_at | date:"dd/MM/Y HH:mm" }}</td>
                                    <td [innerHTML]="item.status| badgeStatus"></td>
                                    <td><ng-container *ngIf="item.response">{{ item.response.body.currency_id}} {{
                                            item.amount | formatNumber }}</ng-container></td>
                                    <td>
                                        <table class="table-condensed">
                                            <tr *ngFor="let registrant of item.registrants; let i=index;">
                                                <td>{{ registrant.swoogo_id }}</td>
                                                <td><a href="mailto:{{ registrant.email }}">{{ registrant.email }}</a>
                                                </td>
                                                <td><ng-container *ngIf="registrant.swoogo_data">{{
                                                        registrant.swoogo_data.first_name }} {{
                                                        registrant.swoogo_data.last_name }}</ng-container></td>
                                                <td><ng-container *ngIf="item.response">{{
                                                        item.response.body.currency_id}}</ng-container> {{
                                                    registrant.price | formatNumber }}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="data.type == 'CHECKIN'">
                <div class="card bg-light">
                    <h4 class="card-header bg-primary text-white"><b>Sesiones</b></h4>
                    <div class="card-body">
                        <div class="pull-right mb-3">
                            <a href="{{ environment.baseBEUrl }}/api/eventSwoogos/{{ data.event_id }}/sessionsDownload/{{ data.id }}"><i class="fa fa-file-excel-o text-success"></i> Descargar</a>
                        </div>
                        <table class="table table-hover table-bordered ">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Link QR Scan</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of sessions; let i=index;">
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.name }}</td>
                                    <td class="text-center">
                                        <a class="btn btn-outline-info btn-xs mr-1"
                                        href="{{ webChecking }}?i={{ data.id }}&e={{ data.event_id }}&s={{ item.id}}"
                                        target="_blank" title="Abrir link">
                                        <i class="fa fa-external-link text-info"></i>
                                    </a>
                                    <app-btn-copy [icon]="true"
                                        [text]="webChecking + '?i=' + data.id + '&e=' + data.event_id + '&s='+ item.id"></app-btn-copy>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="data.type == 'WEBSERVICE'">
                <div class="card bg-light">
                    <h4 class="card-header bg-warning text-white">
                        <b>Documentación</b>
                        <app-btn-copy [text]="sdkString"></app-btn-copy>
                    </h4>
                    <div class="card-body">
                        <p>{{ sdkString }}</p>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>