<nav class="sidebar-nav mt-3">
    <ul id="sidebarnav ">
        <li >
            <a routerLink="/admin/inicio" routerLinkActive="active" aria-expanded="false">
                <i class="mdi mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span>
            </a>
        </li>
        <!-- <li class="nav-small-cap text-white-50">CONFIGURACIÓN</li> -->
        <li >
            <a routerLink="/admin/integraciones" routerLinkActive="active" aria-expanded="false">
                <!-- <i class="mdi mdi-access-point" aria-hidden="true"></i> -->
                <i class="fa fa-link " ></i><span class="hide-menu">Integraciones</span>
            </a>
        </li>
        <li >
            <a routerLink="/admin/categories" routerLinkActive="active" aria-expanded="false">
                <!-- <i class="mdi mdi-access-point" aria-hidden="true"></i> -->
                <i class="fa fa-object-group"></i><span class="hide-menu">Categorías</span>
            </a>
        </li>
        <li >
            <a routerLink="/admin/events" routerLinkActive="active" aria-expanded="false">
                <!-- <i class="mdi mdi-access-point" aria-hidden="true"></i> -->
                <i class="fa fa-calendar " ></i><span class="hide-menu">Eventos</span>
            </a>
        </li>
        <li >
            <a routerLink="/admin/usuarios" routerLinkActive="active" aria-expanded="false">
                <!-- <i class="mdi mdi-access-point" aria-hidden="true"></i> -->
                <i class="fa fa-users " ></i><span class="hide-menu">{{ 'USERS' | translate }}</span>
            </a>
        </li>
        <li >
            <a routerLink="/admin/setting" routerLinkActive="active" aria-expanded="false">
                <!-- <i class="mdi mdi-access-point" aria-hidden="true"></i> -->
                <i class="fa fa-cog " ></i><span class="hide-menu">{{ 'SETTING' | translate }}</span>
            </a>
        </li>
    </ul>
</nav>