<nav class="sidebar-nav mt-3">
    <ul id="sidebarnav ">
        <li >
            <a routerLink="/inicio" routerLinkActive="active" aria-expanded="false">
                <i class="mdi mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span>
            </a>
        </li>
        <!-- <li class="nav-small-cap text-white-50">CONFIGURACIÓN</li> -->
        <li >
            <a routerLink="/integraciones" routerLinkActive="active" aria-expanded="false">
                <!-- <i class="mdi mdi-access-point" aria-hidden="true"></i> -->
                <i class="fa fa-link " ></i><span class="hide-menu">Integraciones</span>
            </a>
        </li>
        <li >
            <a routerLink="/usuarios" routerLinkActive="active" aria-expanded="false">
                <!-- <i class="mdi mdi-access-point" aria-hidden="true"></i> -->
                <i class="fa fa-users " ></i><span class="hide-menu">{{ 'USERS' | translate }}</span>
            </a>
        </li>
        <!-- <li >
            <a routerLink="/products" routerLinkActive="active" aria-expanded="false">
                <i class="mdi mdi-barcode"></i><span class="hide-menu">Productos</span>
            </a>
        </li>
        <li >
            <a routerLink="/categories" routerLinkActive="active" aria-expanded="false">
                <i class="mdi mdi-group"></i><span class="hide-menu">Categorías</span>
            </a>
        </li>
        <li >
            <a routerLink="/sliders" routerLinkActive="active" aria-expanded="false">
                <i class="mdi mdi-projector"></i><span class="hide-menu">Slider</span>
            </a>
        </li>
        <li class="nav-small-cap text-white-50">SINIESTROS</li>
        <li >
            <a routerLink="/sinisters" routerLinkActive="active" aria-expanded="false">
                <i class="mdi mdi-star"></i><span class="hide-menu">Siniestros</span>
            </a>
        </li>
        <li >
            <a routerLink="/productors" routerLinkActive="active" aria-expanded="false">
                <i class="mdi mdi-security"></i><span class="hide-menu">Analistas de siniestros</span>
            </a>
        </li>
        <li >
            <a routerLink="/companies" routerLinkActive="active" aria-expanded="false">
                <i class="mdi mdi-lock"></i><span class="hide-menu">Compañias de seguro</span>
            </a>
        </li>
        <li >
            <a routerLink="/providers" routerLinkActive="active" aria-expanded="false">
                <i class="mdi mdi-cloud"></i><span class="hide-menu">Proveedores</span>
            </a>
        </li>
        <li >
            <a routerLink="/transporters" routerLinkActive="active" aria-expanded="false">
                <i class="mdi mdi-truck"></i><span class="hide-menu">Transportes</span>
            </a>
        </li>
        <li class="nav-small-cap text-white-50">CONFIGURACIÓN</li>
        <li >
            <a routerLink="/usuarios" routerLinkActive="active" aria-expanded="false">
                <i class="mdi mdi-account-multiple"></i><span class="hide-menu">Usuarios</span>
            </a>
        </li>
        <li >
            <a routerLink="/pages" routerLinkActive="active" aria-expanded="false">
                <i class="mdi mdi-file"></i><span class="hide-menu">Páginas</span>
            </a>
        </li> -->
    </ul>
</nav>