<ng-container *ngIf="loginService.isAutenticate()">
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-header"
                    style="background-color: #242b33;border-bottom: #383838 solid 1px; padding: 7px 15px;">
                    <a class="navbar-brand" routerLink="/inicio">
                        <b>
                            <img src="assets/images/logo-light-icon.png" class="dark-logo" alt="homepage" style="width: 45px;"/>
                            <img src="assets/images/logo-icon.png" class="light-logo" alt="homepage" />
                        </b>
                        <span>
                            <img src="assets/images/logo-text.png" class="light-logo" alt="homepage" />
                            <img src="assets/images/logo-light-text.png" alt="homepage" class="dark-logo" style="width: 160px;margin-left: 0.5rem;" />
                        </span>
                    </a>
                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
                                href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark"
                                href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item hidden-sm-down"></li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link  waves-effect waves-dark" (click)="logout();">
                                <i class="fa fa-sign-out"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <app-navbar></app-navbar>
            </div>
        </aside>
        <div class="page-wrapper">
            <router-outlet></router-outlet>
            <footer class="footer">
                © 2021 - {{ title }}
            </footer>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!loginService.isAutenticate()">
    <router-outlet></router-outlet>
</ng-container>
<ngx-spinner type="ball-scale-multiple"><p style="color: white">Cargando...</p></ngx-spinner>