<div class="container-fluid animated fadeIn">
    <app-breadcrumb [title]="'Catgeorías'" [breadcrumbs]="breadcrumbs" ></app-breadcrumb>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row form-material">
                        <div class="col-md-4">
                            <div class="text-left animated fadeInLeft">
                                <a role="button" routerLink="nuevo" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo</a>
                            </div>
                        </div>
                        <div class="col-md-4 animated fadeInDown">
                            <div>
                                <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="query" (keyUp.enter)="search()">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-right animated fadeInRight">
                                <app-pagination  [total]="data.recordsFiltered" [limit]="categoryService.limit" [pages]="data.pages"></app-pagination>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive animated fadeInUp">
                        <table class="table table-hover table-striped table-bordered mt-3">
                            <thead>
                                <tr>
                                    <th (click)="categoryService.setOrder('name')">
                                        <app-table-th [title]="'Nombre'" [field]="'name'" [sort]="categoryService.sort" [direction]="categoryService.direction"></app-table-th>
                                    </th>
                                    <th (click)="categoryService.setOrder('inHome')">
                                        <app-table-th [title]="'Home'" [field]="'inHome'" [sort]="categoryService.sort" [direction]="categoryService.direction"></app-table-th>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of data.data; let i=index;">
                                    <td>{{ item.name }}</td>
                                    <td [innerHTML]="item.inHome | badgeBinary"></td>
                                    <td class="text-right">
                                        <a matTooltip="Editar" matTooltipPosition="above" role="button" [routerLink]="['/admin/categories/editar', item.id]"  class="btn-edit btn btn-outline-info btn-xs mr-1"><i class="fa fa-pencil text-info"></i></a> 
                                        <a matTooltip="Eliminar" matTooltipPosition="above" role="button" (click)="remove(i)" class="btn-remove btn btn-outline-danger btn-xs"><i class="fa fa-trash text-danger"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="float-left">
                            <app-count-results [total]="data.total"></app-count-results>
                        </div>
                        <app-pagination  [limit]="categoryService.limit" [pages]="data.pages"></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>